# -------------------------------------------------------------------
# git ignore file for Pi Printer
# ------------------------------
#
# Created by als0052
# Created on 02-16-2021
# Updated on 02-16-2021
#
#
# -------------------------------------------------------------------
# Helpful Commands
# ----------------
#
# To stop tracking a file that is currently tracked, use 
# 		git rm --cached.
#
# To untrack every file in .gitignore:
# 	1. commit any changes
#   2. run the following:
#      		git rm -r --cached
#   3. run the following:
#      		git add .
#   4. commit
#      		git commit -m "enter a commit message"
# -------------------------------------------------------------------

# Ignore .ipynb_checkpoints folders and contents
# **/*.ipynb_checkpoints/**

# Ignore .idea folder and contents
**/*.idea/**

# Ignore files whose name begins with ~
~*.*
